<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>    
    <add key="DB_Conn" value="Data Source=ktivm-dev2012; User ID=identi_asp; Password=identi911; Initial Catalog=identi-check" />
    <add key="UCC1_PDF" value="c:\webs\test.identi-check.com\ucc\pdf\UCC1_fill.pdf" />
    <add key="UCC1ad_PDF" value="c:\webs\test.identi-check.com\ucc\pdf\UCC1AD_fill.pdf" />
    <add key="UCC1ap_PDF" value="c:\webs\test.identi-check.com\ucc\pdf\UCC1AP_fill.pdf" />
    <add key="UCC3_PDF" value="c:\webs\test.identi-check.com\ucc\pdf\UCC3_fill.pdf" />
    <add key="UCC3ad_PDF" value="c:\webs\test.identi-check.com\ucc\pdf\UCC3AD_fill.pdf" />
    <add key="UCC3ap_PDF" value="c:\webs\test.identi-check.com\ucc\pdf\UCC3AP_fill.pdf" />
    <add key="UCC11_PDF" value="c:\webs\test.identi-check.com\ucc\pdf\UCC11_fill.pdf" />
    <add key="APPLICATION_URL" value="http://test.identi-check.com/" />
    <add key="Filing_Office_Acct_No" value="" />
    <add key="Filing_Charge" value="30.00"/>
	<add key="Search_Charge_with_File" value="12.50"/>
	<add key="Filing_Charge_Amendment" value="30.00"/>
	<add key="Search_Charge" value="15.00"/>
	<add key="Search_File_Pull_Charge" value="1.75"/>
    <add key="EMAIL_SERVER_ADDRESS" value="192.168.1.171" />
    <add key="IDC_Notify" value="chris@kingtech.net" />
    <add key="ENC_PASS_STRING" value="asd73jhbasdf@sdf927as6-DSFW#4334qwsadar23" />
    <add key="UCCXML_Acct_Num" value="667" />
    <add key="UCCXML_UserID" value="IDCHCK" />
    <add key="UCCXML_Password" value="S6QL43X9" />
    <add key="UCCXML_PostURL" value="https://www.ilsos.gov/UCCXML/SubmitXML" />
    <add key="UCCXML_PostURLB" value="http://test.identi-check.com/ucc/sos_return.aspx" />
    <add key="UCCXML_StatusRequestURL" value="https://www.ilsos.gov/UCCXML/StatusRequest" />
    <add key="UCCXML_RetrieveDocURL" value="https://www.ilsos.gov/UCCXML/RetrieveDocument" />
    <add key="UCCXML_RetrieveImage" value="https://www.ilsos.gov/UCCXML/RetrieveImage" />
    <add key="UCCXML_PostURL_Prod" value="https://www.ilsos.gov/UCC/SubmitXML" />
    <add key="UCCXML_StatusRequestURL_Prod" value="https://www.ilsos.gov/UCC/StatusRequest" />
    <add key="UCCXML_RetrieveDocURL_Prod" value="https://www.ilsos.gov/UCC/RetrieveDocument" />
    <add key="UCCXML_RetrieveImage_Prod" value="https://www.ilsos.gov/UCC/RetrieveImage" />
    <add key="UCCXML_Test" value="Yes" />
    <add key="FILINGS_PATH" value="C:\Web_Files\UCC\" />
  <add key="Telerik.Skin" value="Office2010Black" />
  <add key="Telerik.ScriptManager.TelerikCdn" value="Disabled" />
  <add key="Telerik.StyleSheetManager.TelerikCdn" value="Disabled" />
    
    
    
  </appSettings>
  <connectionStrings />
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" requestValidationMode="2.0" />
      </system.Web>
  -->
  <system.web>
    <xhtmlConformance mode="Strict" />
    <httpRuntime requestValidationMode="2.0" targetFramework="4.5.1" />
    <sessionState mode="SQLServer" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=ktivm-dev2012;user id=ASPState_user;password=9sd_WS84jd-" cookieless="false" timeout="60" />
    <!-- 
      Set compilation debug="true" to insert debugging 
      symbols into the compiled page. Because this 
      affects performance, set this value to true only 
      during development.
    -->
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.1" />
    <pages clientIDMode="AutoID"> <!-- controlRenderingCompatibilityVersion="3.5" -->
      <namespaces>
        <clear />
        <add namespace="System" />
        <add namespace="System.Collections" />
        <add namespace="System.Collections.Generic" />
        <add namespace="System.Collections.Specialized" />
        <add namespace="System.Configuration" />
        <add namespace="System.Data" />
        <add namespace="System.Text" />
        <add namespace="System.Text.RegularExpressions" />
        <add namespace="System.Linq" />
        <add namespace="System.Xml.Linq" />
        <add namespace="System.Web" />
        <add namespace="System.Web.Caching" />
        <add namespace="System.Web.SessionState" />
        <add namespace="System.Web.Security" />
        <add namespace="System.Web.Profile" />
        <add namespace="System.Web.UI" />
        <add namespace="System.Web.UI.WebControls" />
        <add namespace="System.Web.UI.WebControls.WebParts" />
        <add namespace="System.Web.UI.HtmlControls" />
      </namespaces>
      <controls>
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
      </controls>
    </pages>
    <!--
      The <authentication> section enables configuration 
      of the security authentication mode used by 
      ASP.NET to identify an incoming user. 
    -->
    <authentication mode="Windows" />
    <!--
      The <customErrors> section enables configuration 
      of what to do if/when an unhandled error occurs 
      during the execution of a request. Specifically, 
      it enables developers to configure html error pages 
      to be displayed in place of a error stack trace.

    <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm" />
      <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors>
    -->
    <customErrors mode="Off" />
    <httpHandlers>
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
    </httpHandlers>
    <httpModules>
      <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule" />
      <add name="RadCompression" type="Telerik.Web.UI.RadCompression" />
    </httpModules>
  </system.web>
  <system.diagnostics>
    <sources>
      <source name="Tesseract" switchValue="Verbose">
        <listeners>
          <clear />
          <add name="console" />
          <!-- <add name="file" />-->
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="console" type="System.Diagnostics.ConsoleTraceListener" />

      <!-- <add name="file"
           type="System.Diagnostics.TextWriterTraceListener"
           initializeData="C:\Web_Files\UCC\tesseract.webdemo.log" />-->
    </sharedListeners>
  </system.diagnostics>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="RadUploadModule" />
      <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule" preCondition="integratedMode,runtimeVersionv2.0" />
      <remove name="RadCompression" />
      <add name="RadCompression" type="Telerik.Web.UI.RadCompression" preCondition="integratedMode,runtimeVersionv2.0" />
    </modules>
    <handlers>
      <remove name="ChartImage_axd" />
      <add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode" />
      <remove name="Telerik_Web_UI_SpellCheckHandler_axd" />
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode" />
      <remove name="Telerik_Web_UI_DialogHandler_aspx" />
      <add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode" />
      <remove name="Telerik_RadUploadProgressHandler_ashx" />
      <add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode" />
      <remove name="Telerik_Web_UI_WebResource_axd" />
      <add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
</configuration>